@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary-navy: #1d2087;
  --primary-blue: #256f91;
  --accent-teal: #ff8f1e;
  --gradient-start: #1d2087;
  --gradient-end: #256f91;
  --footer-bg: #1d2087;
  --text-gray: #000000;
  --bg-block: rgba(209, 240, 244, 0.28);
  --subtitle: #256f91;
  --accent: #ff8f1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-navy: var(--primary-navy);
  --color-primary-blue: var(--primary-blue);
  --color-accent-teal: var(--accent-teal);
  --color-gradient-start: var(--gradient-start);
  --color-gradient-end: var(--gradient-end);
  --color-footer-bg: var(--footer-bg);
  --color-text-gray: var(--text-gray);
  --color-bg-block: var(--bg-block);
  --color-subtitle: var(--subtitle);
  --color-accent: var(--accent);
  --font-sans: var(--font-noto-sans-tc);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
